<div class="inner clearfix">
    <section id="main-content">
      <h1 class="date-and-time">{{ include.post.date | date: "%B %e, %Y" }}, {% if include.post.time %} {{ include.post.time }}{% else %}{{ site.default.time }}{% endif %}</h1>

        <h1><a href="{{ include.post.url }}">{{ include.post.title }}</a></h1>
        

{{ include.post.content }}

{% include past_events.html %}

    </section>
    <aside id="sidebar">
      {% if include.post.date %}
      
      <h1>Date and Time</h1>
            <p class="date-and-time">{{ include.post.date | date: "%B %e, %Y" }}, {% if include.post.time %} {{ include.post.time }}{% else %}{{ site.default.time }}{% endif %}</p>
      
      <h1>Sign up</h1>
      <ul>
      {% for link in include.post.signup %}
          <li><big><a href="{{link[1]}}">{{link[0]}}</a></big></li>
      {% endfor %}
      </ul>
      
      <h1>Place</h1>
      {% if include.post.place %} {{ include.post.place | markdownify }} {% else %} {{ site.default.place | markdownify}} {% endif %}
        <iframe width="100%" height="260" frameborder="0" style="border:1px solid #eee" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCi_Jw4E88rbHMao6zMIiLmPlNjttH2KaE&q=Yebisu+Garden+Towek,Tokyo" allowfullscreen>
        </iframe>
      {% endif %}
      

    </aside>
</div>

